<p>
  <b>Question text:</b>
  <%=h @question.question_text %>
</p>

<p>
  <b>Answer:</b>
  <%=h @question.answer %>
</p>

<p>
  <b>Alterntive:</b>
  <%=h @question.alterntive %>
</p>

<p>
  <b>Name:</b>
  <%=h @question.name %>
</p>


<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
