<div class="answer"><%= answer.name %> prefers <%= answer.answerd_text %> <span class="quote">"<%= answer.comment %>"</span></div>
<p class="seo_hide"><%= answer.name %> prefers <%= answer.answerd_text %> <span class="quote">"<%= answer.comment %>"</span></p>